.salt-theme.tar-theme[data-mode="light"] {
  --salt-palette-warning-background: var(--tar-color-orange-30);
  --salt-palette-warning-background-selected: var(--tar-color-orange-30);
  --salt-palette-warning-border: var(--tar-color-orange-60);
  --salt-palette-warning-foreground: var(--tar-color-orange-60);
}

.salt-theme.tar-theme[data-mode="dark"] {
  --salt-palette-warning-background: var(--tar-color-orange-30);
  --salt-palette-warning-background-selected: var(--tar-color-orange-30);
  --salt-palette-warning-border: var(--tar-color-orange-60);
  --salt-palette-warning-foreground: var(--tar-color-orange-60);
}
