.salt-theme.tar-theme {
  --vuuFilterBar-borderStyle: none;

  .vuuFilterBar {
    background: inherit;

    [data-icon="grid"] {
      --vuu-icon-svg: var(--svg-filter);
    }
    [data-icon="tune"] {
      --vuu-icon-svg: var(--vuu-svg-search);
    }
  }

  .vuuFilterPill {
    .vuuEditableLabel {
      --salt-focused-outline: none;
    }

    .saltButton:focus-visible {
      border-color: transparent;
    }
  }

  .vuuQuickFilters {
    .saltFormFieldLabel {
      margin: 0;
    }
  }
}
