.salt-theme.tar-theme {
  --vuuContextPanel-padding: 0px 24px;
  --vuuContextPanel-width: 340px;
  --vuuList-borderStyle: none;
  --vuuShell-content-padding: 0;

  .vuu-workspace-tabs {
    background: var(--salt-container-secondary-background);

    .vuuHeader {
      --saltButton-background: inherit;
      background: inherit;
      border-style: none none solid none;
      border-color: var(--salt-container-primary-borderColor);
      border-width: 1px;
      height: 28px;
    }
  }

  #vuu-multi-workspace-container {
    & > .vuuTabstrip {
      .vuuTab {
        --tab-thumb-width: 3px;
        --tab-thumb-height: 100%;
        --vuu-icon-size: 20px;
        padding-left: var(--salt-spacing-400);
      }
    }
  }

  #vuu-workspace-container {
    background-color: var(--salt-container-secondary-background);
    padding-top: var(--salt-spacing-200);
  }
}
