.salt-theme.tar-theme {
  .vuuSplitter {
    --splitter-background: var(--salt-container-primary-borderColor);
    --splitter-size: 9px;
    --splitter-borderColor: var(--salt-container-secondary-background);
    --splitter-borderStyle: none solid none solid;
    --splitter-borderWidth: 4px;
  }

  .vuuSplitter-column {
    --splitter-borderStyle: solid none solid none;
  }
}
