.salt-theme.tar-theme[data-mode="light"] {
  --vuuTableRow-selectionBlock-borderColor: var(--tar-color-gray-30);
  .vuuTableRow-selected {
    background: var(--tar-color-gray-04);
  }
}
.salt-theme.tar-theme[data-mode="dark"] {
  --vuuTableRow-selectionBlock-borderColor: var(--tar-color-gray-15);
  .vuuTableRow-selected {
    background: var(--tar-color-gray-67);
  }
}

.salt-theme.tar-theme {
  &.salt-density-high {
    --vuu-table-header-fontSize: 11px;
  }
  &.salt-density-medium {
    --vuu-table-header-fontSize: 11px;
  }
  &.salt-density-low {
    --vuu-table-header-fontSize: 11px;
  }
  &.salt-density-touch {
    --vuu-table-header-fontSize: 11px;
  }

  .vuuTableHeaderCell-label {
    font-size: var(--vuu-table-header-fontSize);
    font-weight: 700;
  }

  .vuuTableRow-selected:not(
      .vuuTableRow-selectedStart,
      .vuuTableRow-selectedEnd
    ) {
    .vuuTableRow-selectionDecorator {
      background: var(--vuuTableRow-selectionBlock-borderColor);
    }
  }

  .vuuTableRow-selectedStart .vuuTableRow-selectionDecorator:before,
  .vuuTableRow-selectedEnd .vuuTableRow-selectionDecorator:before {
    background: var(--vuuTableRow-selectionBlock-borderColor);
  }
}
